@page "/"
@page "/index.html"
@inject IJSRuntime JsRuntime
@using Billknye.GameLib;
@using Microsoft.Xna.Framework;
@using nkast.Wasm.Canvas

<PageTitle>SmallTown</PageTitle>

<div id="canvasHolder" style="
    margin:0%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
">
    <canvas id="theCanvas" style="touch-action:none;"></canvas>
</div>

<img id="image1" src="icon-192.png" width="100" height="100" style="visibility:collapse;"/>

@code {
    Game? _game;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            JsRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public void TickDotNet()
    {
        // init game
        if (_game == null)
        {
            _game = GameStart.CreateGame(null);
            _game.Run();
        }

        // run gameloop
        _game.Tick();
    }
}
}